/* Basic classes to control the hamburger */
.burger {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition: transform 0.5s ease-in;
    -moz-transition: transform 0.5s ease-in;
    -ms-transition: transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.burger.active {
    transform: rotate(270deg);
    top: -8px;
}
.burger div {
    background-color: black;
    height: 5px;
    position: absolute;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.burger .top {
    top: 0px;
    width: 25px;
}
.burger .top.active {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 24.5px;
}

.burger .middle {
    top: 7px;
    left: 0px;
    width: 25px;
}
.burger .middle.active {
    width: 30px;
    left: -12px;
}

.burger .bottom {
    top: 14px;
    width: 25px;
}
.burger .bottom.active {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 24.5px;
}

/* Specific classes for positioning options */
.burger-wrapper {
    position: absolute;
    width: 25px;
    height: 19px;
}
.burger-wrapper.wrapper-bottom {
    bottom: 0;
}
.burger-wrapper.wrapper-mid {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.burger-wrapper.wrapper-right {
    right: 0;
}
.burger-wrapper.wrapper-center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.burger-wrapper.wrapper-mid-center {
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}